html{
    background-color:rgb(45, 56, 45);
   
    
}

.open {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
button {
    color: white;
    background-color: red;
}
.name {
    color: white;
}
p {
    background-color: red;
    border-radius: 20%;
    border:3px solid black;
    text-align:center;
    font-size: 30px;
    font-weight: bold;
}
.first {
    border: 1px solid black;
    display: inline-block;
    border: 1px solid orange;
    margin-top:40px;
    
}
.second {
    border: 1px solid black;
    display: inline-block;
    border: 1px solid orange;
}
.third {
    border: 1px solid black;
    display: inline-block;
    border: 1px solid orange;
}
#forth {
    border: 1px solid black;
    display: inline-block;
    border: 1px solid orange;
    
   
}
h1:nth-child(n + 2){
    color:white;
    background-color:rgb(255, 165, 0 , 0.4);
    border-radius: 15px;
}
h1:first-child{
    position:absolute;
    color:white;
    width:100%;
    text-align:center;
    margin:0;
    background-color:rgb(255, 165, 0 , 0.4);
    top:0px;
    right:0px;
    left:0px;
}
ul li{
    list-style-type: none;
    font-weight:bold;
}
ol li{
    list-style-type: none;
    font-weight:bold;
}